.logo{
	background-image: url(../images/BCE_logo.png);
	background-position: left;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 50px;
	margin-bottom: 50px;
}


.heading{
	font-weight:bold;
}

.inputContainer{
	margin-bottom: 10%;
}


.resultContainer{
	border-left: 1px solid rgba(0,0,0,0.2);
	height:100%;
}

.result{
	font-weight:bold;
	text-align:right;
}

table{
	font-size: larger;
}

.speed_list{
	margin-top: 1em;
}

.card{
	font-size: small;
}

#popover_container{
	width: 150px;
}

.is-hidden{
	display:none;
}